.bodyComponent {
  /* border: 2px solid red; */

  height: 60vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  position: relative;
}

.p {
  font-size: 0.6rem;
}

.card {
  /* border: 2px solid red; */
  background: beige;
  width: 20%;
  height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  position: relative;
}

.card:hover {
  border: 3px solid black;
  box-shadow: 15px 15px 30px 10px black;
}

.clickCard {
  border: 2px solid red;
  background: beige;
  width: 20%;
  height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  position: relative;
}

.imagecontainer {
  /* border: 2px solid blue; */
  position: relative;
  width: 100%;
  height: 50%;
  margin-bottom: 10%;
  /* background-color: yellow; */
  background-image: url(../../../assets/my-lore-clean.jpg);
  background-position: center;
  background-size: cover;
}

.wiwa {
  /* border: 2px solid turquoise; */
  height: 120%;

  width: 130%;

  max-width: 130%;
  position: absolute;
  left: -15%;
  top: -10%;
}
.main {
  position: relative;
  /* top: -5%; */
  /* border: 2px solid green; */
}

.footerchar {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 20vw;
  height: 15%;
  bottom: 5%;
}

.attributes {
  /* border: 2px solid black; */
  width: 33%;
  display: flex;
  font-size: small;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.attribute {
  text-align: center;
  justify-content: center;
  padding: 10%;
  font-size: 0.6rem;
}

.value {
  font-size: 0.6rem;
}
