.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    top,
    #68561b,
    #947b27 10%,
    #e9d593 28%,
    #faf4e2 55%,
    #947b27 87%,
    #493d13
  );

  background: -webkit-linear-gradient(
    top,
    #68561b,
    #947b27 10%,
    #e9d593 28%,
    #faf4e2 55%,
    #947b27 87%,
    #493d13
  );
}
