.body {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backgrounds/Forest2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyWiwa {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backgrounds/waschistadt1.jpg");
  /* background-repeat: no-repeat; */
  /* background-repeat: repeat; */
  background-size: contain;
}

.bodyFlammengo {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backgrounds/Flammengo1.jpg");
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.bodyAxolittle {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backgrounds/waschistadt1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.h2 {
  margin: 0 auto auto auto;
}

.footer {
  /* border: 2px solid red; */
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: auto 5vw auto 5vw;
}
