.body {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}

.h2 {
  margin: 0 auto auto auto;
}

.footer {
  /* border: 2px solid red; */
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: auto 5vw auto 5vw;
}
