.body {
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
}

.container {

  padding-top: 10vh;
  display: flex;

  /* background-color: forestgreen; */
}

.allMembers {
  margin-top: 2rem;
  border: 2px solid red;
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
