.bodyComponent {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2 {
  text-decoration: underline;
  position: relative;
  top: -30px;
}
