.body {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
  display: flex;
  flex-direction: column;

  background-image: url(../../assets/my-lore-clean.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}

.intro {
  top: 10%;
  height: 70vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;

  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.footer {
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}
