.body {
  width: 100vw;
  height: 100vh;

  padding-top: 8vh;

  display: flex;
  justify-content: space-between;
}

/* .questAndName {
  border: 2px solid blue;

  width: ;
  height: 85vh;
  
  padding: auto;

  text-align: center;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between;  */

.quest {
  height: 70vh;
  width: 25vw;
  margin: auto auto auto 4vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-image: url(../../assets/backgrounds/pergament/vertical-old-half-framed8.png) 15
    fill / 20px / 0.5em round;
}

.locationAndChar {
  /* border: 2px solid green; */

  width: 70vw;
  height: 85vh;
  margin: auto 2vw auto auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.characterAll {
  /* border: 2px solid orange; */

  height: 70%;
  width: 100%;
  margin-bottom: 5%;
  display: flex;

  /* align-items: center; */
  /* justify-content: end; */
}

.charwaschi {
  background-image: url(../../assets/characterimages/WischiWaschiBaer.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: flex-end;
}

.charaxolittle {
  background-image: url(../../assets/characterimages/Axolittle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: flex-end;
}

.charflammengo {
  background-image: url(../../assets/characterimages/Flammengo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: flex-end;
}

.pictureChar {
  border: 2px solid #00eeff;
  width: 50%;
}

.characterStats {
  border: 2px solid pink;
  width: 80%;

  display: flex;
  justify-content: center;

  /* border-image: url(../../assets/backgrounds/pergament/vertical-old-half-framed7.png) 10 fill / 20px / 0.5em round; */
}
