.questlistitem {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  
  width: 15vw;

  /* backdrop-filter: blur(5px); */

  border-radius: 100px;

  /* transition: border-color 0.3s ease-in-out; */

  /* background-image: url(../../assets/frames/questframes/quest-frame6.png);
  background-size: 100% 100%; */
}
.questlistitem:hover {
  border-color: #493D13;
  box-shadow: 0 0 10px #947B27;
}

.selected {
  animation: shimmer 2s ease-in-out infinite alternate;
}

@keyframes shimmer {
  from {
    border-color: #493D13;
    box-shadow: 0 0 10px #947B27;
  }
  /* 50% {
      border-color: transparent;
      box-shadow: none;
    } */
  to {
    border-color: #493D13;
    box-shadow: 0 5px 10px #493D13;
  }
}

/* Media Queries für responsive Gestaltung */
@media screen and (max-width: 600px) {
  .questlistitem {
    padding: 0.3rem;
    margin: 0.3rem;
  }
}

@media screen and (max-width: 400px) {
  .questlistitem {
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 0.8rem;
  }
}
