.questlistitem {
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
  
  width: 20vw;

  backdrop-filter: blur(5px);

  border: 1px solid black;
  border-radius: 40px;
  /* transition: border-color 0.3s ease-in-out; */
}
.questlistitem:hover {
  border-color: #4a1e68;
  box-shadow: 0 0 10px #ad82c9;
}

.selected {
  animation: shimmer 2s ease-in-out infinite alternate;
}

@keyframes shimmer {
  from {
    border-color: #4a1e68;
    box-shadow: 0 0 10px #ad82c9;
  }
  /* 50% {
      border-color: transparent;
      box-shadow: none;
    } */
  to {
    border-color: #4a1e68;
    box-shadow: 0 10px 10px #4a1e68;
  }
}

/* Media Queries für responsive Gestaltung */
@media screen and (max-width: 600px) {
  .questlistitem {
    padding: 0.3rem;
    margin: 0.3rem;
  }
}

@media screen and (max-width: 400px) {
  .questlistitem {
    padding: 0.2rem;
    margin: 0.2rem;
    font-size: 0.8rem;
  }
}
