.buttonone {
  left: 0;
  display: flex;
  padding: 10px;

  color: #493D13;

border-image: url(../../../assets/buttons/golden-button-cornered.png) 25 fill / 7px / 0.5em;

  transition: 0.2s;
}

.buttonone:hover {
  /* border: 2px solid brown; */
  transform: scale(1.1);

}

/* Hier wird Claudi sich austoben :D  */
