.introtext {
  /* border: 2px solid red; */
  height: 100%;
  width: 70%;
  font-size: 0.8rem;
  position: relative;
  overflow: auto;
  z-index: 999;
  color: black;
  backdrop-filter: blur(10px);
}

.introtext::-webkit-scrollbar {
  width: 0px;
}
