.body {
  width: 100vw;
  height: 100vh;

  padding-top: 5vh;

  background-image: url(../assets/my-lore-clean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.maincontainer {
 

  height: 100vh;

  font-size: 1.5em;

  display: flex;
  align-items: flex-start;
}

.maincontainer img {
  padding-top: 20%;
  margin: 0 auto;
}
