.body {
  width: 100vw;
  height: 100vh;
}

.maincontainer {
  background-image: url(../assets/my-lore-clean.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;

  font-size: 1.5em;

  display: flex;
  align-items: flex-start;
}

.maincontainer img {
  padding-top: 10%;
  margin: 0 auto;
}


.impressum {
  background-image: url(../assets/letterings/impressum-schriftzug.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 6%;

 /* position: absolute;
 bottom: 0;
 right: 0; */

transform: translateY(-100px);

/* z-index: 2; */
}