.body {
  width: 100vw;
  height: 100vh;

  padding-top: 10vh;
}

.container {
  border: 2px red solid;
  display: flex;
  height: 60vh;
  /* height: 40vh; */
  justify-content: space-between;
  margin: 2rem 5rem;
  padding: 1rem;
}

.characteroverviewtitle {
  border: 2px solid;
  align-items: center;
  justify-content: center;
  display: flex;
}

.charlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.listitem {
  border: 2px solid black;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem;
}
.listitem:hover {
  border: 4px solid brown;
}

.card {
  border: 2px solid black;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  border: 4px solid brown;
}
