.bodyComponent {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  /* background-image: url(../../assets/backgrounds/pergament/horizontal-black-scroll.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

.h2{
  text-decoration: underline;

margin: 50px auto 20px;
}

.questList {
  /* border: 2px solid blue; */
  border-image: url(../../assets/frames/vertical-old-frame.png) 10 fill / 20px / 0 round;

  /* color: cornsilk; */

  padding-top: 10%;
  height: 100%;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.questInfo {
  /* border: 2px solid green; */
  height: 100%;
  width: 65%;

  background-image: url(../../assets/backgrounds/pergament/horizontal-goldish-scroll2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.title {
  padding-top: 22%;
}

.text {
  padding-top: 5%;
}
