.body {
  width: 100vw;
  height: 100vh;

  padding-top: 8vh;
}

.container {
  border: 2px solid red;

  background-color: burlywood;

  width: 96%;
  height: 97%;
  margin: auto 2vw;
  padding-top: 10vh;
}
