.bodyComponent {
  border: 2px solid black;
  
  height: 80%;
  width: 70%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);

  position: relative;
  top: 150px;
}
.h2 {
  text-decoration: underline;
}
.statusData {
  border: solid 2px purple;
  display: flex;
}
.statusdatabezeichnungen {
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.statusdatawerte {
  border: green 2px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
