.body {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  border-image: url(../../assets/frames/vertical-ornamentic-RT-LB-light.png) 30 fill / 20px / 1em;
}

.loginheading {
  font-size: 1.2rem;

  text-align: center;
  color: #F4E9C6;
  text-shadow: 1px 1px 10px #000000;
  
  margin-top: 15%;
}

.formgroup {
  margin-bottom: 1rem;
}

.loginlabel {
  display: none;
}

.logininput {
  width: 70%;
  padding: 8px;
  margin: 10px 0 10px;
  border-radius: 5px;
  box-shadow: 1px 5px 30px 10px black;

  border: 1px solid #535252;

  background-color: #35353542;
}

.logininput::placeholder {
  color: #e9d59377;
  text-shadow: 1px 1px 5px #000000;
}

.loginbutton {
  padding: 5px 20px;
  margin-bottom: 20%;

  color: #493D13;

  background-image: url(../../assets/buttons/golden-button-cornered.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  transition: 0.2s;
}

.loginbutton:hover {
  /* background-color: #d4af3780; */
  transform: scale(1.1);
}
