.bodyComponent {
  border: 2px solid red;
  height: 6vh;
  width: 15vw;
  margin: 0 auto;

  font-size: 0.8rem;
  text-align: center;

  position: relative;
  top: 2%;
  right: 20%;

  border-image: url(../../../assets/frames/old-wood-top-bottom-inner.png) 25
    fill / 10px / 2.5em;
}
