.bodyComponent {
  /* border: 2px solid red; */
  height: 3vh;
  /* height: auto; */
  width: auto;
  margin: 0 auto;

  font-size: 0.8rem;
  /* text-align: center; */

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  /* top: -4%; */
  top: 0px;
  /* position: fixed; */
  right: -39%;

  /* border-image: url(../../../assets/frames/old-wood-top-bottom-inner.png) 25 fill / 10px / 2.5em; */

  border-image: url(../../../assets/buttons/golden-button-cornered.png) 30 fill /
    10px / 1em round;
  background-size: 100% 100%;
}
