.items {
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 30px 5px black;
  /* background-image: url(../../assets/old-paper-horizontal.jpg); */
  background-position: center;

  width: 8vh;
  height: 8vh;
  margin: 0.2rem;
  padding: 0.3rem;

  /* text-align: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.items:hover {
  box-shadow: 3px 3px 40px 3px white;
  border: 2px solid black;
  cursor: pointer;
}

.items:hover .content {
  visibility: visible;
  opacity: 1;
}

.content {
  border: 2px solid black;
  box-shadow: 5px 5px 30px 5px black;
  background-image: url(../../assets/old-paper-horizontal.jpg);
  background-position: center;
  position: absolute;
  right: 3rem;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenth1 {
  text-decoration: underline;
}

.contenttext {
  font-size: 0.7rem;
}

.contentprice {
  font-size: 0.7rem;
}
